body {
    font-family: Arial, sans-serif;
}
img {
    width: 100%;
    display: block;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}
section {
    padding: 40px 0;
}
section.am-padd {
    padding: 20px 0;
}
.am-s-bg-grey-dark {
    background-color: #1f1f1f;
    color: white;
}
.am-padd {
    padding: 20px 0;
}
h2 {
    font-size: 3rem;
}
/* Botton Style */
a.am-btn {
    padding: 10px 15px;
    border-radius: 30px;
    color: white;
}
.am-btn-padd {
    padding: 20px 0;
}
.am-btn-black {
    background-color: #363636;;
}
.am-btn-orange {
    background-color: #cd3d0f;
}
.am-btn-lightblue {
    background-color: #2d64e6;
}
/************
    HEADER
*************/
header {
    font-family: Helvetica, arial, sans-serif;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}
/*** Top Header ***/
.am-top-header, .am-bottom-header {
    padding: 10px;
}
.am-top-header {
    background-color: black;
    height:35px;
}
.am-top-header .am-logo-top {
    height: 15px;
    display: inline-block;
    float: right;
}
.am-logo-top img {
    height: 100%;
}
/***Bottom Header ***/
.am-bottom-header {
    height: 60px;
}
/* Burger Menu */
.am-burger {
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
}
.am-burger a {
    color: black;
}
/* Main Menu */
.am-burger-menu, .am-main-menu {
    justify-content: space-between;
    align-items: center;
}
.am-main-menu i {
    color: grey;
}
.am-logo-bottom img {
    width: 50px;
}
ul.am-main-menu-left, ul.am-main-menu-right {
    display: flex;
    align-items: center;
}
.am-main-menu-left li {
    margin-right: 20px;
}
.am-main-menu-right li {
    margin-left: 20px;
}
.am-icon-lens {
    width: 25px;
}

/***********
    MAIN
************/
main {
    margin-top: 95px;
}
/* Section Jumbo 1 e 2 */
.am-jumbo-img-1  {
    background-image: url(../img/jumbo-bg.png);
}
.am-jumbo-img-2  {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
.am-s-jumbo {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.am-s-jumbo img {
    max-width: 250px;
}
.am-s-jumbo h2 {
    padding: 20px 0;
}
.am-s-jumbo p {
    font-weight: 700;
}
.am-s-jumbo h2, .am-s-jumbo p  {
    max-width: 420px;
}

/* Section Cover */
.am-cover img {
    border-radius: 20px;
}
.am-cover:hover img {
    transform: scale(1.1);;
    padding: 4px;
    border: 1px solid #2d64e6;
}
/* END Section Cover */

/* Section PlayStation Presentation */
.am-card-ps img {
    padding: 0 30px;
}
.am-card-ps {
    text-align: center;
}
/* END Section PlayStation Presentation */

/* Section Covers News */
.am-cover-square-header h2 {
    font-size: 2.2rem;
}
.am-cover-square-header h3 {
    font-size: 1.5rem;
}
.am-cover-square-header h2, h3 {
    padding-bottom: 10px;
}
.am-img-square img {
    border-radius: 20px;
}
.am-cover-square h2 {
    font-size: 1rem;
    padding: 10px 0;
}

